{
    "networks": [
        {
            "name": "sepolia",
            "rpc": "https://sepolia.drpc.org",
            "deploymentBlock": 8468184,
            "factoryAddress": "0x...",
            "pageSize": 5000
        }
    ]
}